/dts-v1/;
/plugin/;
/ {

    compatible = "bcrm,bcm2835";
    fragment@0 {
        target-path = "/";
        overlay{
            ili9341 {
                compatible = "ili9341";
                status = "no signal please start a X server...";
                noSignalText = "No Signal";
                backlightGPIO = <&gpio 22 0>;
                dcGPIO = <&gpio 27 0>;
                resetGPIO = <&gpio 17 0>;
            };
        };
    
    };
};
